<!DOCTYPE html>
<html lang="ar">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

<title>Zavix AI</title>

<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<!-- HEADER -->
<div class="header">

    <!-- زر الخطين -->
    <div class="menu-btn">
        <span></span>
        <span></span>
    </div>

    <!-- اسم الموقع -->
    <h3>Zavix AI</h3>

    <!-- زر الاشتراك -->
    <div class="plus-header">
        ✨ Plus Sign up
    </div>

    <!-- زر الرسائل -->
    <div class="chat-btn" id="chatNotify">
        💬
    </div>

</div>

<!-- CHAT -->
<div class="chat-box" id="chatBox">
    <div class="bot-msg">👋 مرحباً! كيف أساعدك؟</div>
</div>

<!-- INPUT -->
<div class="input-container">
    <div class="input-box">
        <button class="plus-btn">+</button>
        <input id="userInput" type="text" placeholder="اسأل Zavix AI أي شيء...">
        <button id="sendBtn" class="send">↑</button>
    </div>
</div>

<script src="/static/script.js"></script>

</body>
</html>
